@import "common";

.el-picker-panel .el-date-table td.current:not(.disabled),
.el-date-table td.end-date,
.el-date-table td.start-date {
    background-color: $uiColor !important;
}

.el-picker-panel .el-date-table td.current:not(.disabled) span {
    color: #FFF !important;
    background-color: $uiColor !important;
}

.el-picker-panel .el-date-table td.available:hover {
    color: $uiColor !important;
}

.el-picker-panel .el-date-table td.today span {
    color: $uiColor !important;

}

.el-picker-panel .el-button--text {
    color: $uiColor !important;
}

.el-picker-panel .el-button.is-active,
.el-button.is-plain:active {
    color: $uiColor !important;
    border-color: $uiColor !important;
}

.el-picker-panel .el-date-table td.current:not(.disabled),
.el-date-table td.end-date,
.el-date-table td.start-date {
    background-color: $uiColor !important;
    color: #fff;
}

.el-picker-panel .el-button.is-plain:focus,
.el-button.is-plain:hover {
    background: #FFF;
    border-color: $uiColor !important;
    color: $uiColor !important;
}

.el-picker-panel .el-date-picker__header-label.active,
.el-date-picker__header-label:hover {
    color: $uiColor !important;
}

.el-picker-panel .el-year-table td .cell:hover,
.el-year-table td.current:not(.disabled) .cell {
    color: $uiColor !important;
}

.el-input.is-active .el-input__inner,
.el-input__inner:focus {
    border-color: $uiColor !important;
}

.el-picker-panel .el-picker-panel__icon-btn:hover {
    color: $uiColor !important;
}

.el-picker-panel .el-time-panel__btn.confirm {
    font-weight: 800;
    color: $uiColor !important;
}
